body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  font-family: Arial, sans-serif;
}

.stopwatch {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 260px;
}

#display {
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:nth-child(2) { background: white; color:black; }
button:nth-child(3) { background:orange; color:black; }
button:nth-child(4) { background:white; color: black; }

button:hover {
  opacity: 0.8;
}
